:root {
    --black-pearl: #080e2c;
    --white: #fff;
    --green: #1ba39c;
    --red: #e85656;
}
body,
input,
button {
    font-family: 'Roboto', sans-serif;
}
body {
    background: #edf0f1;
    margin-top: 80px;
}

